.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  background: #fff;
  padding: 5px 15px;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: #1c86fa;
  font-weight: bold;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
  padding: 10px;
}

form input {
  display: flex;
  align-items: center;
  border: 2px solid #1c86fa;
  border-radius: 4px;
  width: 100%;
  height: 20px;
  padding: 4px;
  margin-right: 15px;
}

form button {
  height: 100%;
}

.username {
  color: #000;
}

.todo-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: blanchedalmond;
  border: 2px solid #1c86fa;
  width: 60%;
  left: 20%;
  height: auto;
  top: 40%;
  margin: 0 auto;
  z-index: 999;
  border-radius: 16px;
}

.multi-button-content {
  display: flex;
  align-items: center;
}

.edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #1c86fa;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  height: 30px;
  border-radius: 4px;
  min-width: 60px;
  margin-right: 10px;
}

.delete-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #fff;
  color: red;
  font-weight: bold;
  border: none;
  height: 30px;
  border-radius: 4px;
  min-width: 60px;
}
